@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url(../imagens/radio-tv.png) no-repeat;
}
audio#musica{
    display: block;
    position: relative;
    left: 574px;
    top: 490px;
    width: 300px;
}
iframe#filme{
    display:block;
    position:relative;
    left:81px;
    top:30px;
    width: 450px;
    height: 315px;
}